<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptates
  corporis incidunt veniam. Dignissimos quam ut voluptatibus id ipsa libero.</p>

{{!-- Incorporando los archivos en la carpeta de tareas, import --}}
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        {{> tareas/tareaNueva}}
      </div>

      <div class="col-md-7">
        {{> tareas/tareaTabla}}
      </div>
    </div>
  </div>